<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <div class="page-wrapper">
                    <div class="blog-top clearfix">
                        <h4 class="pull-left">Recent News <a href="#"><i class="fa fa-rss"></i></a></h4>
                    </div><!-- end blog-top -->

                    <div class="blog-list clearfix">
                        <% for(var x=3;x<articles.length;x++){ %>

                       
                        <div class="blog-box row">
                            <div class="col-md-4">
                                <div class="post-media">
                                    <a href="articles/<%=articles[x].id%>" title="">
                                        <img src="<%=articles[x].imageurl%>" alt="" class="img-fluid">
                                        <div class="hovereffect"></div>
                                    </a>
                                </div><!-- end media -->
                            </div><!-- end col -->

                            <div class="blog-meta big-meta col-md-8">
                                <h4><a href="articles/<%=articles[x].id%>" title=""><%=articles[x].title%></a></h4>
                                <p><%=articles[x].excerpt%></p>
                              <!--  <small class="firstsmall"><a class="bg-orange" href="tech-category-01.html" title="">Gadgets</a></small> -->
                                <small><%=articles[x].lastedited%></small>
                                <small><%=articles[x].user.fullname%></small>
                               <!-- <small><a href="tech-single.html" title=""><i class="fa fa-eye"></i> 1114</a></small> -->
                            </div><!-- end meta -->
                        </div><!-- end blog-box -->

                        <hr class="invis">
                    <%}%>
                       

               
            </div><!-- end col -->

           
        </div><!-- end row -->
    </div><!-- end container -->
</section>