<!DOCTYPE html>

<head>
  <title>
    Create New Article
  </title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</head>
<body>
    <section class="section single-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                    <div class="page-wrapper">
                        <div class="blog-title-area text-center">
                            <ol class="breadcrumb hidden-xs-down">
                    <!--            <li class="breadcrumb-item"><a href="#">Home</a></li> --> 
                        <!--         <li class="breadcrumb-item"><a href="#">Blog</a></li> -->
                            <!--  <li class="breadcrumb-item active">Top 10 phone applications and 2017 mobile design awards</li>  -->  
                            </ol>

                            

                            <h3> <%= data.response.title %> </h3>
                            <span class="color-orange"><a href="tech-category-01.html" title="">Technology</a></span>
                            <div class="blog-meta big-meta">
                                <small><%= moment(data.response.lastedited).format("DD MMMM YYYY") %></small>
                                <small>by <%= data.response.user.fullname %></small>
                                <small><i class="fa fa-eye"></i> 2344</small>
                            </div><!-- end meta -->


                            
                            </div><!-- end post-sharing -->
                       
                        </div><!-- end title -->

                        <div class="single-post-media">
                            <img src="<%= data.response.imageurl %>" onerror="this.onerror=null; this.src='/images/NOTFOUND.png'" style="height: 38.5rem;" class="img-fluid">
                        </div><!-- end media -->

                        <div class="blog-content">  

                            <div class="pp">    
                                <p>
                                    <%=data.response.content %>
                                </p>
                            </div><!-- end pp -->
                        </div><!-- end content -->

                        
                        <hr class="invis1">

                        <div class="custombox authorbox clearfix">
                            <h4 class="small-title">About author</h4>
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                  <!--   <img src="upload/author.jpg" alt="" class="img-fluid rounded-circle">  -->
                                </div><!-- end col -->

                                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                    <h4><%=data.response.user.fullname%></h4>
                                    <p><%=data.response.user.aboutme%></p>

                                    <div class="topsocial">
                                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Youtube"><i class="fa fa-youtube"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Pinterest"><i class="fa fa-pinterest"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fa fa-instagram"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Website"><i class="fa fa-link"></i></a>
                                    </div><!-- end social -->

                                </div><!-- end col -->
                            </div><!-- end row -->
                        </div><!-- end author-box -->

                        <hr class="invis1">

                        <div class="custombox clearfix">
                            <h4 class="small-title">You may also like</h4>
                            <div class="row">
                                <% for(var i=0;i<data.likearticles.length;i++){ %>
                                <div class="col-lg-6">
                                    <div class="blog-box">
                                        <div class="post-media">
                                            <a href="articles/<%= data.likearticles[i].id%>" title="">
                                                <img src="<%=data.likearticles[i].imageurl %>" style="height: 14.65rem;" onerror="this.onerror=null; this.src='/images/NOTFOUND.png'" class="img-fluid">
                                                <div class="hovereffect">
                                                    <span class=""></span>
                                                </div><!-- end hover -->
                                            </a>
                                        </div><!-- end media -->
                                        <div class="blog-meta">
                                            <h4><a href="articles/<%=data.likearticles[i].id %>" title=""><%= data.likearticles[i].title%></a></h4>
                                            <small>Trends</small>
                                            <small><%=moment(data.likearticles[i].lastedited).format("DD MMMM YYYY") %></small>
                                        </div><!-- end meta -->
                                    </div><!-- end blog-box -->
                                </div><!-- end col -->
                           <% } %>
                                
                            </div><!-- end row -->
                        </div><!-- end custom-box -->

                        <hr class="invis1">

                        <div class="custombox clearfix">
                            <h4 class="small-title">Comments</h4>
                            <div class="row" style="height:31.25rem; overflow:auto">
                                <div class="col-lg-12">
                                    <div class="comments-list">
                                        <% for(var i=0; i<data.response.comments.length;i++){ %>
                                            <div class="media">
                                                <a class="media-left" href="#">
                                                    <img src="upload/author_01.jpg" alt="" class="rounded-circle">
                                                </a>
                                                <div class="media-body">

                                                    <h4 class="media-heading user_name"><strong><%=data.response.comments[i].name%></strong> <small>5 days ago</small></h4>

                                                    <p><%=data.response.comments[i].content%></p>

                                                    
                                                </div>
                                            </div>
                                        <% } %>
                                    </div>
                                </div><!-- end col -->
                            </div><!-- end row -->
                        </div><!-- end custom-box -->
                        <hr class="invis1">

                        <div class="custombox clearfix">
                            <h4 class="small-title">Leave a Reply</h4>
                            <div class="row">
                                <div class="col-lg-12">
                                    <form class="form-wrapper form" id="form-id" >
                                        <input hidden name="articleid" value= <%= data.response.id %>>
                                        <input required type="text" class="form-control" placeholder="Your name" name="name">
                                        <input required type="email" class="form-control" placeholder="Email address" name="email">
                                        <textarea required class="form-control" placeholder="Your comment" name="content"></textarea>
                                        <button type="submit" class="btn btn-primary comment">Submit Comment</button>
                                    </form>
                                    <script>
                                        $(document).ready(function () {
                                                $("form").on("submit", function(e){
                                                    alert("Started")
                                                    e.preventDefault();
                                                    //var data=$(this).serialize;
                                                   // data=JSON.stringify(data);
                                                    //console.log(data);
                                                    $.ajax({
                                                        method: "POST", 
                                                        url: "/articles/comment/add",
                                                        data:{
                                                            "articleid":$('input[name=articleid]').val(),
                                                            "name": $('input[name=name]').val(),
                                                            "email":$('input[name=email]').val(),
                                                            "content": $('textarea[name=content]').val(),
                                                        },
                                                       dataType:"json",
                                                       success: function(response){
                                                            if(response.success){
                                                                console.log(response)
                                                                window.location.reload();
                                                            }
                                                       }
                                                    })
                                                })
                                            });
                                                                 
                                            
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div><!-- end page-wrapper -->
                </div><!-- end col -->

                
            </div><!-- end row -->
        </div><!-- end container -->
    </section>
</body>

